body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

#totalPurchaseAmount {
    font-weight: bold;
    font-size: 18px;
}

#discountApplied {
    font-weight: bold;
    color: #e44d26; /* Red color */
}

#cart {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}
